<form class="frame" [formGroup]="form" >
    <h1>Update News</h1>
    <div class="field">
        <label>Title:</label> <input type="text" formControlName="title">
    </div>
    <div class="field">
        <label>Body:</label> <textarea cols="30" rows="10" formControlName="body"></textarea>
    </div>
    <div class="field">
        <label>Author:</label> <input type="text" formControlName="author" [placeholder]="this.utility.user?.userName">
    </div>
    <div class="field">
        <label>URL Image:</label> <input type="text" formControlName="image">
    </div>
    
    <div class="field">
        <button (click)="submit(news.id)">Update</button> 
    </div>

</form> 

