<h1>About Us</h1>
<div class="frame">
<p>On this website you can keep up to date with all the new articles and news.
    <br>
    If you would like to publish your own articles and news you can register at any time and this option will open for you! 
    <br>
</p>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Will registration cost me money ? 
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            No! This site is completely free.
            <br>
            You can feel free to join and add your own articles and news in any time you want! 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          How can I add my own articles/news ?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            For the option to upload content to the site you first need to register to our site. 
            <br>
            After the registration this option will open for you and you will be able to share your content.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Who can see my posts ?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            When you share your content it will be public and everyone will be able to see it.
            <br>
            Thatws why we don't recommend you to post presonal things.
        </div>
      </div>
    </div>
  </div>
  <p>    If you need more help or question you can contact us at the Contact label and we will be in tuch !</p>
</div>